.NavigationItems{
    margin: 0;
    padding: 0;
    list-style: none;
    height:100%;
    align-items: center;
    display: flex;
    flex-flow:column;
}
@media(min-width:500px){
    .NavigationItems{
        flex-flow:row;
    }
}